<div class="card">
    <div class="card-header">
        <b>Informações do Efika ACS</b>
        <button class="btn btn-primary btn-sm" (click)="doGetEquipamentoAssoc()" style="float: right; margin-top: 0px;"
            type="button">
            <clr-icon shape="refresh"></clr-icon>
            &nbsp;Atualizar
        </button>

    </div>
    <div class="card-block">
        <div class="card-text">
            <clr-tree-node>
                <clr-icon shape="hard-disk"></clr-icon>
                Equipamento
                <ng-template [(clrIfExpanded)]="expanded" *ngFor="let eqp of variavelHolderService.equipamentos">
                    <clr-tree-node *ngIf="eqp.manufacturer">
                        <b>Fabricante:</b>&nbsp;{{eqp.manufacturer}}
                    </clr-tree-node>
                    <clr-tree-node *ngIf="eqp.modelName">
                        <b>Modelo:</b>&nbsp;{{eqp.modelName}}
                    </clr-tree-node>
                    <clr-tree-node *ngIf="eqp.serialNumber">
                        <b>Serial Number:</b>&nbsp;{{eqp.deviceId.serialNumber}}
                    </clr-tree-node>
                    <clr-tree-node *ngIf="eqp.macAddress">
                        <b>MAC Address:</b>&nbsp;{{eqp.macAddress}}
                    </clr-tree-node>
                    <clr-tree-node *ngIf="eqp.softwareVersion">
                        <b>Firmware:</b>&nbsp;{{eqp.softwareVersion}}
                    </clr-tree-node>
                    <clr-tree-node *ngIf="eqp.activated">
                        <span *ngIf="eqp.activated === false"><b>Status:</b>&nbsp;&nbsp;<clr-icon shape="warning-standard"
                                class="is-solid" style="color: darkorange"></clr-icon>&nbsp;INATIVO</span>
                        <span *ngIf="eqp.activated === true"><b>Status:</b>&nbsp;&nbsp;<clr-icon shape="success-standard"
                                class="is-solid" style="color: green"></clr-icon>&nbsp;ATIVO</span>
                    </clr-tree-node>
                    <clr-tree-node>
                        <button class="btn btn-sm" (click)="abreSearchDevice(eqp.deviceId.serialNumber)"
                            style="float: right; margin-top: 0px;" type="button">
                            <clr-icon shape="eye"></clr-icon>
                            &nbsp;ver este equipamento na acs
                        </button>
                    </clr-tree-node>
                </ng-template>
            </clr-tree-node>
        </div>
    </div>
</div>