<div>
    <!--Infos-->
    <clr-alert [clrAlertType]="informAlertType" *ngIf="alertTypeOn">
        <div class="alert-item">
            <span class="alert-text">
            {{mensagemAlert}}
        </span>
        </div>
    </clr-alert>
    <!--Loading-->
    <div id="loading-spinner" *ngIf="searching">
        <span class="spinner">Loading...</span>
        <br/>
        <span>Buscando cadastro...</span>
    </div>
    <!--Informações do cadastro-->
    <div *ngIf="cadastro">
        <div class="row">
            <div class="col-xs-6">
                <table class="table table-vertical table-compact">
                    <tbody>
                        <tr>
                            <td colspan="2" class="center-table">Cadastro</td>
                        </tr>
                        <tr>
                            <td>Designador: </td>
                            <td>{{cadastro.designador}}</td>
                        </tr>
                        <tr>
                            <td>Instancia: </td>
                            <td>{{cadastro.instancia}}</td>
                        </tr>
                        <tr>
                            <td>Designador de Acesso: </td>
                            <td>{{cadastro.designadorAcesso}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center-table">Informações de rede</td>
                        </tr>
                        <tr>
                            <td>Ip DSLAM:</td>
                            <td>{{cadastro.rede.ipDslam}}</td>
                        </tr>
                        <tr>
                            <td>Vendor DSLAM:</td>
                            <td>{{cadastro.rede.vendorDslam}}</td>
                        </tr>
                        <tr>
                            <td>Modelos DSLAM:</td>
                            <td>{{cadastro.rede.modeloDslam}}</td>
                        </tr>
                        <tr>
                            <td>Slot:</td>
                            <td>{{cadastro.rede.slot}}</td>
                        </tr>
                        <tr>
                            <td>Porta:</td>
                            <td>{{cadastro.rede.porta}}</td>
                        </tr>
                        <tr>
                            <td>Sequencial:</td>
                            <td>{{cadastro.rede.sequencial}}</td>
                        </tr>
                        <tr>
                            <td>Logica:</td>
                            <td>{{cadastro.rede.logica}}</td>
                        </tr>
                        <tr>
                            <td>Rin:</td>
                            <td>{{cadastro.rede.rin}}</td>
                        </tr>
                        <tr>
                            <td>Vlan VoIP:</td>
                            <td>{{cadastro.rede.vlanVoip}}</td>
                        </tr>
                        <tr>
                            <td>VLAN VoD:</td>
                            <td>{{cadastro.rede.vlanVod}}</td>
                        </tr>
                        <tr>
                            <td>VLAN Multicast:</td>
                            <td>{{cadastro.rede.vlanMulticast}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center-table">Informações de serviço</td>
                        </tr>
                        <tr>
                            <td>Velocidade de Download:</td>
                            <td>{{cadastro.servicos.velDown}}</td>
                        </tr>
                        <tr>
                            <td>Velocidade de Upload:</td>
                            <td>{{cadastro.servicos.velUp}}</td>
                        </tr>
                        <tr>
                            <td>SIP?:</td>
                            <td>{{cadastro.servicos.isSip}}</td>
                        </tr>
                        <tr>
                            <td>Hibrido?:</td>
                            <td>{{cadastro.servicos.isHib}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <div id="loading-spinner" *ngIf="searchFulltest">
                    <span class="spinner">Loading...</span>
                    <br/>
                    <span>Realizando Fulltest...</span>
                </div>
                <div *ngIf="!searchFulltest">
                    <table class="table table-compact" *ngIf="objectValid">
                        <thead>
                            <tr>
                                <th colspan="3">Informações de Fulltest</th>
                            </tr>
                            <tr>
                                <th>Nome</th>
                                <th>Mensagem</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valid of objectValid.valids">
                                <td>{{valid.nome}}</td>
                                <td>{{valid.mensagem}}</td>
                                <td>
                                    <clr-icon shape="check" *ngIf="valid.resultado" class="is-success"></clr-icon>
                                    <clr-icon shape="times" *ngIf="!valid.resultado" class="is-error"></clr-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-success center-table" (click)="realizaFulltest()" [disabled]="reFulltest">Realizar Fulltest</button>
            </div>
        </div>
    </div>

</div>