<div>
    <table class="table table-compact setmargen">
        <thead>
            <tr>
                <th colspan="3">Informações de Fulltest</th>
            </tr>
            <tr>
                <th class="left">Nome</th>
                <th class="left">Mensagem</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let valid of objectValid.valids">
                <td class="left">{{valid.nome}}</td>
                <td class="left">{{valid.mensagem}}</td>
                <td>
                    <clr-icon shape="check" *ngIf="valid.resultado" class="is-success"></clr-icon>
                    <clr-icon shape="times" *ngIf="!valid.resultado" class="is-error"></clr-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="msgAtivo">
    <alert-component [msg]="msg" [ativo]="alertAtivo" [closeable]="false"></alert-component>
</div>