<clr-alert [clrAlertType]="holderService.appLevelAlert.type" [clrAlertAppLevel]="true" *ngIf="holderService.appLevelAlertAtivo">
    <clr-alert-item>
        <span class="alert-text">
            {{holderService.appLevelAlert.msg}}
        </span>
        <div class="alert-actions" *ngIf="holderService.appLevelAlert.buttonAction">
            <button class="btn alert-action" (click)="actionButton()">{{holderService.appLevelAlert.buttonName}}</button>
        </div>
    </clr-alert-item>
</clr-alert>