<clr-alerts>
    <clr-alert [clrAlertType]="appLevelAlert.type" [clrAlertAppLevel]="true" *ngFor="let appLevelAlert of holderService.appLevelAlert">
        <clr-alert-item>
            <span class="alert-text">
                {{appLevelAlert.msg}}
            </span>
            <div class="alert-actions" *ngIf="appLevelAlert.btn">
                <button class="btn alert-action" (click)="actionButton(appLevelAlert.btn.btnAction)">{{appLevelAlert.btn.btnName}}</button>
            </div>
        </clr-alert-item>
    </clr-alert>
</clr-alerts>