<div class="clr-row">
        <div class="clr-col-sm-12 clr-col-md-6" style="width: 40%;">
            <div class="card">
                <div class="card-header">
                    <h3>Bem-vindo ao <b>Efika Fulltest</b></h3>
                </div>
                <div class="card-block">
                    <div class="card-title">
                        Sobre
                    </div>
                    <div class="card-text" style="text-align: justify;">
                        <p style="text-align: justify;">
                            Gerenciamento de equipamentos de maneira simplificada. Com apenas um clique acione uma série
                            de comandos e
                            análises. Valide
                            a qualidade dos serviços do cliente em questão de segundos. Tudo através de uma única
                            Interface.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="alert alert-app-level alert-info" role="alert">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                                </div>
                                <div class="alert-text">
                                    versão: {{version}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-col-sm-12 clr-col-md-6">
        </div>
    </div>
    <principal-wizard-component></principal-wizard-component>
