<div *ngIf="cadastro">
    <h3 class="titulo-pagina">Informações do Cliente</h3>
    <clr-stack-view class="col-xs-12">
        <ng-container *ngFor="let entry of cadastro | objkeys" ngProjectAs="clr-stack-block">
            <ng-container *ngIf="hasStackBlockAtAll(entry)" ngProjectAs="clr-stack-block">
                <generic-stack-block *ngIf="hasStackBlockDetail(entry)" [obj]="entry" ngProjectAs="clr-stack-block"></generic-stack-block>
                <clr-stack-block *ngIf="!hasStackBlockDetail(entry)">
                    <clr-stack-label>{{entry.key | beautifying}}</clr-stack-label>
                    <clr-stack-content>{{entry.value | capitalize}}</clr-stack-content>
                </clr-stack-block>
            </ng-container>
        </ng-container>
    </clr-stack-view>
</div>