<div>
    <loading-component [searching]="isLoading" [searchWhat]="'Buscando Logs Certification...'"></loading-component>
    <div *ngIf="variavelHolderService.listCertificationManobra">
        <clr-stack-view>
            <clr-stack-header>
                Historico de Validação de Manobra
                <button class="stack-action btn btn-sm btn-link" (click)="doGetCertification();" type="button">
                    <clr-icon shape="refresh"></clr-icon>
                    Atualizar
                </button>
            </clr-stack-header>
            <clr-stack-block *ngFor="let certification of variavelHolderService.listCertificationManobra; let i = index">
                <clr-stack-label>
                    {{certification.analise.conclusao.beautyMotivo}}
                </clr-stack-label>
                <clr-stack-content>
                    {{certification.analise.conclusao.beautyConclusao}}
                    <clr-icon shape="check" *ngIf="certification.analise.manobrar" style="color: green;"></clr-icon>
                    <clr-icon shape="times" *ngIf="!certification.analise.manobrar" style="color: red;"></clr-icon>
                </clr-stack-content>
                <clr-stack-block *ngFor="let analise of certification.analise.analises">
                    <clr-stack-label>{{analise.beautyMotivo}}</clr-stack-label>
                    <clr-stack-content>
                        {{analise.beautyConclusao}}
                        <!-- <clr-icon shape="check" *ngIf="analise.conclusao === 'PORTA_OK'" style="color: green;"></clr-icon>
                        <clr-icon shape="times" *ngIf="analise.conclusao === 'PORTA_NOK'" style="color: red;"></clr-icon> -->

                    </clr-stack-content>
                </clr-stack-block>
            </clr-stack-block>
        </clr-stack-view>
    </div>
    <div *ngIf="!variavelHolderService.listCertificationManobra">
        <alert-component [mensagem]="mensagem" [ativo]="ativo" [closeable]="false"></alert-component>
    </div>
</div>