.move-up {
    margin-top: -42px;
}

.comp-margin-top {
    margin-top: 25px;
}

.comp-align {
   position: absolute;
   margin-top: 20%;
   margin-left: 40%;
}

.hr-marginTopBottom {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.stack-view .stack-block-content>:last-child {
    margin-bottom: 0;
    font-weight: 900;
}