<div class="move-up">
    <loading-component class="comp-align" [searching]="isLoading" [searchWhat]="'Buscando Informações Técnicas...'"></loading-component>
    <div *ngIf="systemHolderService.qualView === 'CO' && variavelHolderService.cadastro">
        <cadastro-wizard-component></cadastro-wizard-component>
        <div class="row">
            <div class="col-xs">
                <cadastro-co-view-component [cadastro]="variavelHolderService.cadastro"></cadastro-co-view-component>
            </div>
            <div class="col-xs-5">
                <acs-component *ngIf="variavelHolderService.cadastro" [designador]="variavelHolderService.cadastro.designador"></acs-component>
                <!-- <div class="row">
                    <div class="col-xs-6"> -->
                <log-list-certification-component *ngIf="variavelHolderService.cadastro"></log-list-certification-component>
                <!-- </div>
                    <div class="col-xs-6"> -->
                <log-list-manobra-component *ngIf="variavelHolderService.cadastro"></log-list-manobra-component>
                <!-- </div>
                </div> -->
            </div>
        </div>
    </div>
    <div *ngIf="systemHolderService.qualView === 'CRM' && variavelHolderService.cadastro">
        <div class="row">
            <div class="col-xs">
                <cadastro-crm-view-component [cadastro]="cadastro"></cadastro-crm-view-component>
            </div>
            <div class="col-xs">
                <acs-component *ngIf="variavelHolderService.cadastro" [designador]="variavelHolderService.cadastro.designador"></acs-component>
            </div>
        </div>
        <cadastro-crm-table-asserts-component [cadastro]="cadastro"></cadastro-crm-table-asserts-component>
        <fulltest-component class="comp-margin-top"></fulltest-component>
    </div>
</div>