<div>
    <a class="nav-link nav-icon" (click)="ativo = true">
        <clr-icon shape="info-circle"></clr-icon>
    </a>
    <clr-modal [(clrModalOpen)]="ativo">
        <h3 class="modal-title">Resumo</h3>
        <div class="modal-body">
            <table class="table table-compact table-vertical">
                <tbody>
                    <tr>
                        <th colspan="2">Informações de Cadastro</th>
                    </tr>
                    <tr>
                        <th>Instância: </th>
                        <td>{{cadastro.instancia}}</td>
                    </tr>
                    <tr>
                        <th>Designador: </th>
                        <td>{{cadastro.designador}}</td>
                    </tr>
                    <tr>
                        <th>Designador de Acesso: </th>
                        <td>{{cadastro.designadorAcesso}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="ativo = false">Fechar</button>
            <!-- <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button> -->
        </div>
    </clr-modal>
</div>