<div>
    <div *ngIf="!searchFulltest">
        <h3 class="titulo-da-pagina">Informações de Fulltest</h3>
        <div *ngIf="objectValid">            
            <fulltest-table-component [objectValid]="objectValid"></fulltest-table-component>
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="realizaFulltest()" [disabled]="doFulltest">Realizar Fulltest</button>
    </div>
    <loading-component [searching]="searchFulltest" [searchWhat]="'Realizando Fulltest...'"></loading-component>
</div>