<div>
    <div *ngIf="variavelHolderService.listCertifications">
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-header">
                        <b>Histórico de Certificações</b>
                        <button [clrLoading]="atualizaACS" class="btn btn-primary btn-sm"
                            (click)="doGetCertification();" style="float: right; margin-top: 0px;" type="button">
                            <clr-icon shape="refresh"></clr-icon>
                            &nbsp;Atualizar
                        </button>
                    </div>
                    <div class="card-block" >
                        <div class="card-text">
                            <loading-component [searching]="isLoading"
                                [searchWhat]="'buscando logs de certificação...'">
                            </loading-component>
                            <clr-stack-view *ngIf="!isLoading">
                                <clr-stack-block
                                    *ngFor="let certification of variavelHolderService.listCertifications; let i = index">
                                    <clr-stack-label>
                                        {{certification.fkId ? certification.fkId : 'Fulltest em andamento'}}
                                    </clr-stack-label>
                                    <clr-stack-content>
                                        <span class="label label-success"
                                            *ngIf="certification.resultado === 'OK'">{{certification.resultado}}</span>
                                        <span class="label label-warning"
                                            *ngIf="certification.resultado === 'FIXED'">{{certification.resultado}}</span>
                                        <span class="label label-danger"
                                            *ngIf="certification.resultado === 'FISICAL' || certification.resultado === 'FORWARDED_CO' || certification.resultado === 'TO_FIX'">
                                            {{certification.resultado}}
                                        </span>
                                        <!--validate fulltest-->
                                        {{validdatedif(certification.dataInicio) | uppercase}}
                                    </clr-stack-content>
                                    <clr-stack-block>
                                        <clr-stack-label>Executor</clr-stack-label>
                                        <clr-stack-content>{{certification.executor}}</clr-stack-content>
                                    </clr-stack-block>
                                    <clr-stack-block>
                                        <clr-stack-label>Orientação/Resultado</clr-stack-label>
                                        <clr-stack-content>{{certification.orientacao}}</clr-stack-content>
                                    </clr-stack-block>
                                    <clr-stack-block>
                                        <clr-stack-label>Data Início</clr-stack-label>
                                        <clr-stack-content>
                                            {{((certification.dataInicio / 1000) | amFromUnix) | amDateFormat: 'DD/MM/YYYY HH:mm'}}
                                        </clr-stack-content>
                                    </clr-stack-block>
                                    <clr-stack-block>
                                        <clr-stack-label>Data Final</clr-stack-label>
                                        <clr-stack-content>
                                            {{((certification.dataFim / 1000) | amFromUnix) | amDateFormat: 'DD/MM/YYYY HH:mm'}}
                                        </clr-stack-content>
                                    </clr-stack-block>
                                    <clr-stack-block>
                                        <clr-stack-label>Finalizado CO</clr-stack-label>
                                        <clr-stack-content>
                                            <div class="radio-inline">
                                                <input type="radio" [name]="'radiocheckfinalize'+ i"
                                                    [id]="'radiocheckfinalize_1' + i"
                                                    [disabled]="validtodisablefinalize(certification.dataInicio)"
                                                    [value]="certification.final">
                                                <label [for]="'radiocheckfinalize_1' + i">Sim</label>
                                            </div>
                                            <div class="radio-inline">
                                                <input type="radio" [name]="'radiocheckfinalize'+ i"
                                                    [id]="'radiocheckfinalize_2' + i"
                                                    [disabled]="validtodisablefinalize(certification.dataInicio)"
                                                    [value]="certification.final">
                                                <label [for]="'radiocheckfinalize_2' + i">Não</label>
                                            </div>
                                        </clr-stack-content>
                                    </clr-stack-block>
                                </clr-stack-block>
                            </clr-stack-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>