<div *ngIf="holderService.confPorta">
    <div class="row">
        <div class="col-md-6">
            <table-estado-porta-cp-component [estadoPorta]="holderService.confPorta.estadoPorta"></table-estado-porta-cp-component>
        </div>
        <div class="col-md-6">
            <table-parametros-cp-component [parametros]="holderService.confPorta.parametros"></table-parametros-cp-component>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table-profile-cp-component [profile]="holderService.confPorta.profile"></table-profile-cp-component>
        </div>
        <div class="col-md-6">
            <table-aux-serial-component [serial]="holderService.confPorta.serial" [serialDisp]="holderService.confPorta.serialDisp"></table-aux-serial-component>
        </div>
    </div>
    <table-lan-cp-component [vlanBanda]="holderService.confPorta.vlanBanda" [vlanVoip]="holderService.confPorta.vlanVoip" [vlanVod]="holderService.confPorta.vlanVod"
        [vlanMulticast]="holderService.confPorta.vlanMulticast"></table-lan-cp-component>
</div>