<h5>GPON</h5>
<h4 class="stack-header titulo-da-pagina-10">
    <span class="stack-title"></span>
    <span class="stack-actions">
        <button class="btn btn-primary btn-block btn-sm">Editar</button>
    </span>
</h4>
<table class="table table-compact table-vertical">
    <tbody>
        <tr>
            <th colspan="2">Informações</th>
        </tr>
        <tr>
            <th>Status da Porta do DSLAM:</th>
            <td>UP</td>
        </tr>
        <tr>
            <th>Status do Sincronismo:</th>
            <td>UP</td>
        </tr>
        <tr>
            <th>Veloc. Profile Down/Up (Mbps):</th>
            <td> 35840 | 3072</td>
        </tr>
        <tr>
            <th>Potência ONT:</th>
            <td>-18.0dBm</td>
        </tr>
        <tr>
            <th>Potência OLT:</th>
            <td>-21.0dBm</td>
        </tr>
    </tbody>
</table>