<div>
    <table class="table table-compact table-vertical">
        <tbody>
            <tr>
                <th colspan="2">{{serial.nome}}</th>
            </tr>
            <tr>
                <th>Mensagem:</th>
                <td>{{serial.mensagem}}</td>
            </tr>
            <tr>
                <th>Resultado:</th>
                <td>
                    <clr-icon style="color: green" shape="check" *ngIf="serial.resultado"></clr-icon>
                    <clr-icon style="color: red" shape="times" *ngIf="!serial.resultado"></clr-icon>
                </td>
            </tr>
            <tr *ngIf="!serial.resultado && serialDisp">
                <th>Lista serial's</th>
                <td>
                    <div class="select">
                        <select [(ngModel)]="serialSelected">
                            <option *ngFor="let serial of serialDisp" [ngValue]="serial.serial" [disabled]="serial.slot != holderService.cadastro.rede.slot || serial.porta != holderService.cadastro.rede.porta">{{serial.serial + " Slot:" + serial.slot + " Porta:" + serial.porta}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" *ngIf="serial.resultado">
                    <button class="btn btn-primary btn-sm btn-block" [disabled]="btnUnsetOntFromOltDisable" (click)="unsetOntFromOlt()">{{btnUnsetOntFromOltName}}</button>
                </td>
                <td colspan="2" *ngIf="!serial.resultado">
                    <button class="btn btn-primary btn-sm btn-block" [disabled]="btnSetOntToOltDisable" (click)="setOntToOlt()">{{btnSetOntToOltName}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>