<!-- <img src={{img}} style="width: 181px; height: 65px;" /> -->
<div class="centraliza">
    <div class="card">
        <div class="card-header">
            Ops, ocorreu um problema
        </div>
        <div class="card-block">
            <div class="card-title">
                Algo não está certo!
            </div>
            <div class="card-text">
                404 Pagina não encontrada
                <br/>
                <a href="http://localhost:4200/fulltest/">Clique aqui</a>
            </div>
        </div>
    </div>
</div>