<clr-modal [(clrModalOpen)]="systemHolderService.modalInfoDMIsOpen" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <h3 class="modal-title">Informações DM</h3>
    <div class="modal-body">
        <textarea class="margin-center" rows="15" [(ngModel)]="infoDm" name="infoDm" placeholder="Insira o CTRL+A do DM com a aba OLT/DSLAM aberta."></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="setInfosDm()">Concluir</button>
    </div>
</clr-modal>