<h5>Metalico</h5>
<h4 class="stack-header titulo-da-pagina-10">
    <span class="stack-title"></span>
    <span class="stack-actions">
        <button class="btn btn-primary btn-block btn-sm">Editar</button>
    </span>
</h4>
<table class="table table-compact table-vertical">
    <tbody>
        <tr>
            <th colspan="2">Parametros...</th>
        </tr>
        <tr>
            <th>Status da Porta do DSLAM:</th>
            <td>UP</td>
        </tr>
        <tr>
            <th>Status do Sincronismo:</th>
            <td>UP</td>
        </tr>
        <tr>
            <th>Tipo Modulação:</th>
            <td>VDSL 17A SUV</td>
        </tr>
        <tr>
            <th>Veloc. Profile Down/Up (Mbps):</th>
            <td>55000 - 6000</td>
        </tr>
        <tr>
            <th>Attainable Rate Down/Up (Mbps):</th>
            <td>65847 - 16472</td>
        </tr>
    </tbody>
</table>

<table class="table table-compact table-vertical table-compact">
    <tbody>
        <tr>
            <th>Informações...</th>
            <th>Down</th>
            <th>UP</th>
        </tr>
        <tr>
            <th>Velocidade Sincronizada (Mbps)</th>
            <td>54988</td>
            <td>5996</td>
        </tr>
        <tr>
            <th>Sinal Ruído (dB)</th>
            <td>9</td>
            <td>15</td>
        </tr>
        <tr>
            <th>Atenuação (dB)</th>
            <td>15</td>
            <td>7</td>
        </tr>
    </tbody>
</table>