<div>
    <loading-component [searching]="searching" [searchWhat]="'Buscando Eventos Massivos...'"></loading-component>
    <table class="table table-vertical table-compact" *ngIf="!searching">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Eventos Massivos</th>
            </tr>
            <tr>
                <th>Validação 1</th>
                <td>criticidade</td>
            </tr>
            <tr>
                <th>Validação 2</th>
                <td>criticidade</td>
            </tr>
        </tbody>
    </table>
</div>