<div>
    <loading-component [searching]="searching" [searchWhat]="'Buscando Eventos Massivos...'"></loading-component>
    <table class="table table-vertical table-compact" *ngIf="!searching">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Eventos Massivos</th>
            </tr>
            <tr>
                <th>Validação 1</th>
                <td>
                    Criticidade
                    <clr-icon shape="check" style="color: green;"></clr-icon>
                    <clr-icon shape="times" style="color: red;"></clr-icon>
                </td>
            </tr>
            <tr>
                <th>Validação 2</th>
                <td>
                    Criticidade
                    <clr-icon shape="check" style="color: green;"></clr-icon>
                    <clr-icon shape="times" style="color: red;"></clr-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>