<div *ngIf="valid" style="padding-bottom:1%">
    <confiab-rede [confRede]="valid" *ngIf="valid.nome=='Confiabilidade de Rede'"></confiab-rede>
    <auth-banda [deviceMac]="valid" *ngIf="valid.nome=='MAC do Equipamento' && valid.resultado"></auth-banda>
    <parametros-view [parametros]="valid" *ngIf="valid.nome.includes('Parâmetros')"></parametros-view>
    <table-modulacao-cp-component [modulacao]="valid" *ngIf="valid.nome=='Modulação'"></table-modulacao-cp-component>
    <profile-view-cp [profile]="valid" *ngIf="valid.nome=='Profile'"></profile-view-cp>
    <vlan-view-cp [vlan]="valid" *ngIf="valid.nome.includes('Vlan')"></vlan-view-cp>
    <div class="row" *ngIf="valid.nome=='Associação Serial ONT'&&!valid.resultado&&holderService.cadastro.rede.planta=='VIVO2'">
        <div class="col-xs-1"></div>
        <div class="col-xs-9">
            <table-aux-serial-component [serial]="valid"></table-aux-serial-component>
        </div>
        <div class="col-xs-2"></div>
    </div>

</div>