<div class="login-wrapper">
    <form class="login" (ngSubmit)="entrar()">
        <label class="title">
            <h3 class="welcome">Bem Vindo ao</h3>
            Efika Fulltest
            <h5 class="hint">Utilize seu login e senha para entrar</h5>
        </label>
        <div class="login-group">
            <input [(ngModel)]="usuario.login" class="username" type="text" id="login_username" placeholder="Username" name="login">
            <input [(ngModel)]="usuario.senha" class="password" type="password" id="login_password" placeholder="Password" name="senha">            
            <div class="error active" *ngIf="erroLogar">
                {{erroMensagem}}
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>