<div style="margin-top: -5px;">
    <table class="table table-compact table-vertical">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Informações de Linha</th>
            </tr>
            <tr>
                <th>DN: </th>
                <td>{{cadastro.linha.dn}}</td>
            </tr>
            <tr>
                <th>Tipo: </th>
                <td>{{cadastro.linha.tipo}}</td>
            </tr>
            <tr>
                <th>Central: </th>
                <td>{{cadastro.linha.central}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-compact table-vertical">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Informações de Cadastro</th>
            </tr>
            <tr>
                <th>Instância: </th>
                <td>{{cadastro.instancia}}</td>
            </tr>
            <tr>
                <th>Designador: </th>
                <td>{{cadastro.designador}}</td>
            </tr>
            <tr>
                <th>Designador de Acesso: </th>
                <td>{{cadastro.designadorAcesso}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-compact table-vertical">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Informações de Rede</th>
            </tr>
            <tr>
                <th>Planta: </th>
                <td>{{cadastro.rede.planta}}</td>
            </tr>
            <tr>
                <th>Tipo: </th>
                <td>{{cadastro.rede.tipo}}</td>
            </tr>
            <tr>
                <th>Modelo DSLAM: </th>
                <td>{{cadastro.rede.vendorDslam}} - {{cadastro.rede.modeloDslam}} </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-compact table-vertical">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Informações de Serviço</th>
            </tr>
            <tr>
                <th>Planta: </th>
                <td>{{cadastro.servicos.velDown}} / {{cadastro.servicos.velUp}}</td>
            </tr>
            <tr>
                <th>Tipo da Linha: </th>
                <td>{{cadastro.servicos.tipoLinha}}</td>
            </tr>
            <tr>
                <th>Tipo da TV: </th>
                <td>{{cadastro.servicos.tipoTv}} </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-compact table-vertical" *ngIf="cadastro.radius">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Informações de Radius</th>
            </tr>
            <tr>
                <th>Status: </th>
                <td>{{cadastro.radius.status}}</td>
            </tr>
            <tr>
                <th>Armario: </th>
                <td>{{cadastro.radius.armario}}</td>
            </tr>
            <tr>
                <th>Porta: </th>
                <td>{{cadastro.radius.porta}} </td>
            </tr>
            <tr>
                <th>Rin: </th>
                <td>{{cadastro.radius.rin}} </td>
            </tr>
            <tr>
                <th>Velocidade: </th>
                <td>{{cadastro.radius.velocidade}} </td>
            </tr>
            <tr>
                <th>É Ip Fixo: </th>
                <td>{{cadastro.radius.isIpFixo ? "Sim" : "Não"}} </td>
            </tr>
            <tr>
                <th>Ip Fixo: </th>
                <td>{{cadastro.radius.ipFixo}} </td>
            </tr>
            <tr>
                <th>Profile: </th>
                <td>{{cadastro.radius.profile}} </td>
            </tr>
        </tbody>
    </table>

</div>