<div>
    <h3 class="titulo-da-pagina">Serviço</h3>

    <div *ngIf="listaDeServicos && !isLoading">
        <label>Selecione os serviços a baixo: </label>
        <clr-checkbox *ngFor="let servico of listaDeServicos" [clrChecked]="veSeEstaCheck(servico.nome)" (change)="atualizaListaDeServicos(servico, $event.target.checked)">
            {{servico.desc}}
        </clr-checkbox>
        <button class="btn btn-primary btn-block" (click)="setServicos()" [disabled]="btnSetServicoDisabled">{{btnSetServicoNome}}</button>
    </div>
    <loading-component [searching]="isLoading" [searchWhat]="'Buscando Serviços'"></loading-component>
</div>