<div *ngIf="ativo">
    <button class="btn btn-primary btn-block">Consultar</button>
    <table class="table table-compact">
        <thead>
            <tr>
                <th>Instância</th>
                <th>Sequencia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11111111111</td>
                <td>Piloto</td>
            </tr>
            <tr>
                <td>2222222222</td>
                <td>Ota Instância</td>
            </tr>
            <tr>
                <td>222222222</td>
                <td>Ota Instância</td>
            </tr>
        </tbody>
    </table>
</div>