<div *ngIf="variavelHolderService.cadastro">
    <div *ngIf="variavelHolderService.cadastro.linha">
        <configuracao-linha-tdm-component *ngIf="variavelHolderService.cadastro.linha.tipo === 'TDM'"></configuracao-linha-tdm-component>
        <!-- <configuracao-linha-ims-component *ngIf="variavelHolderService.cadastro.linha.tipo === 'IMS'"></configuracao-linha-ims-component> -->
    </div>
    <div *ngIf="!validaTipo()">
        <!-- Retirar isto daqui quando for implementar VIVO_1 GPON -->
        <alert-component [msg]="msg" [ativo]="alertAtivo" [closeable]="false"></alert-component>
    </div>
</div>