<div>
    <h3>Manobra</h3>
    <table class="table table-compact table-vertical" *ngIf="validManobra" style="margin: 7px 0 0 0;">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Validações Manobra</th>
            </tr>
            <tr *ngFor="let valid of validManobra">
                <th>{{valid.msg}}</th>
                <td>
                    <clr-icon shape="check" *ngIf="valid.inf" class="is-success"></clr-icon>
                    <clr-icon shape="times" *ngIf="!valid.inf" class="is-error"></clr-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary btn-block" [disabled]="btnValidDisable" [clrLoading]="searchingValids" (click)="validar()">Validar Manobra</button>
    <alert-component [msg]="alertMsg" [ativo]="alertAtivo" [closeable]="alertCloseable"></alert-component>
</div>