<div>
    <h3>Manobra</h3>
    <div *ngIf="!searchFulltest">
        <div *ngIf="objectValid">
            <div class="row">
                <div class="col-md-6">
                    <fulltest-table-component [objectValid]="objectValid"></fulltest-table-component>
                    <button type="button" class="btn btn-primary btn-block" (click)="realizaFulltest()" *ngIf="!objectValid.resultado">Realizar Fulltest</button>
                </div>
                <div class="col-md-6">
                    <div *ngIf="validManobra" style="margin: 7px 0 0 0;">
                        <label for="idordem" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left ahundredpercent"
                            [class.invalid]="ordemInput.invalid && (ordemInput.dirty || ordemInput.touched)">
                            <input class="ahundredpercent" ngModel name="ordem" type="text" id="idordem" [(ngModel)]="ordem" #ordemInput="ngModel" required placeholder="Insira a ordem" 
                            (change)="enterBtnInput()">
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                        <table class="table table-compact table-vertical" *ngIf="listValidManobra">
                            <tbody>
                                <tr>
                                    <th colspan="2" style="text-align: center;">Validações Manobra</th>
                                </tr>
                                <tr *ngFor="let valid of listValidManobra">
                                    <th>{{valid.msg}}</th>
                                    <td>
                                        <clr-icon shape="check" *ngIf="valid.inf" class="is-success"></clr-icon>
                                        <clr-icon shape="times" *ngIf="!valid.inf" class="is-error"></clr-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary btn-block" [disabled]="btnValidDisable" [clrLoading]="searchingValids" (click)="validar()">Validar Manobra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <loading-component [searching]="searchFulltest" [searchWhat]="'Realizando Fulltest'"></loading-component>
    <alert-component [msg]="alertMsg" [ativo]="alertAtivo" [closeable]="alertCloseable"></alert-component>
</div>