<div class="row">
    <div class="col-md-6">
        <div class="select">
            <select [(ngModel)]="ncos">
                        <option selected disabled>Selecione</option>
                        <option value="{{ncos.key}}" *ngFor="let ncos of ncosList | orderBy: 'desc'" >{{ncos.ncos}} - {{ncos.desc}} </option>
                    </select>
        </div>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-sm btn-block" [disabled]="disableButton" (click)="setNcos()">{{nomeButton}}</button>
    </div>
</div>