<div *ngIf="profile">
    <table class="table table-compact">
        <thead>
            <tr>
                <th colspan="2" style="text-align: center;">{{profile.nome}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Estado</td>
                <td>{{profile.mensagem}}
                    <clr-icon class="is-success" shape="check" *ngIf="profile.resultado"></clr-icon>
                    <clr-icon class="is-error" shape="times" *ngIf="!profile.resultado"></clr-icon>
                </td>
            </tr>
            <tr>
                <td>Configurado (Down/Up)</td>
                <td>
                    {{stringVelocidade(profile.result.down)}}/{{stringVelocidade(profile.result.up)}}
                </td>
            </tr>
            <tr *ngIf="profileConfPorta">
                <td>{{labelNameProfile}}</td>
                <td>
                    <div class="select">
                        <select [(ngModel)]="profile.result.down">
                            <option *ngFor="let vel of profileConfPorta.downValues" [ngValue]="vel.vel">{{vel.desc}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!isMetalico && profileConfPorta">
                <td>Profile Up</td>
                <td>
                    <div class="select">
                        <select [(ngModel)]="profile.result.up">
                            <option *ngFor="let vel of profileConfPorta.downValues" [ngValue]="vel.vel">{{vel.desc}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr *ngIf="profileConfPorta">
                <td colspan="2">
                    <button class="btn btn-primary btn-sm btn-block" [disabled]="setProfileBtnDisable" (click)="doSetProfile()">{{setProfileBtnName}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>