<div *ngIf="certification.fulltest">
    <table class="table table-compact margin-geral-table">
        <thead>
            <tr class="left">
                <th colspan="2">Informações gerais Fulltest</th>
            </tr>
        </thead>
        <tbody>
            <tr class="left" *ngIf="certification.fulltest.dataFim && certification.fulltest.dataInicio">
                <td class="left">Duração do Fulltest</td>
                <td>{{certification.fulltest.dataFim | amDifference: certification.fulltest.dataInicio: 'seconds'}}
                    Segundos</td>
            </tr>
            <tr class="left">
                <td class="left">Resultado</td>
                <td>
                    <clr-icon shape="check" *ngIf="certification.fulltest.resultado" class="isSuccess"></clr-icon>
                    <clr-icon shape="times" *ngIf="!certification.fulltest.resultado" class="isError"></clr-icon>
                    <!-- <clr-icon shape="exclamation-triangle" *ngIf="certification.fulltest.resultado === 'FIXED'" class="isWarning"></clr-icon> -->
                </td>
            </tr>
        </tbody>
    </table>
    <alert-component [mensagem]="mensagem" [ativo]="ativo" [closeable]="false"></alert-component>
</div>