<div>
    <table class="table table-compact margin-geral-table">
        <thead>
            <tr class="left">
                <th colspan="2">Informações gerais Fulltest</th>
            </tr>
        </thead>
        <tbody>
            <tr class="left">
                <td class="left">Duração do Fulltest</td>
                <td>{{certification.dataFim | amDifference: certification.dataInicio: 'seconds'}} Segundos</td>
            </tr>
            <tr class="left">
                <td class="left">Resultado</td>
                <td>
                    <clr-icon shape="check" *ngIf="certification.resultado" class="is-success"></clr-icon>
                    <clr-icon shape="times" *ngIf="!certification.resultado" class="is-error"></clr-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>