<!-- <div *ngIf="confRede"> -->
<clr-stack-label>
    CRC
    <clr-icon shape="check" *ngIf="confRede.result.crcOk" class="is-success"></clr-icon>
    <clr-icon shape="times" *ngIf="!confRede.result.crcOk" class="is-error"></clr-icon>
</clr-stack-label>
<clr-stack-content>
    Pacotes Suficientes 
    <clr-icon shape="check" *ngIf="confRede.result.pctSuficiente" class="is-success"></clr-icon>
    <clr-icon shape="times" *ngIf="!confRede.result.pctSuficiente" class="is-error"></clr-icon>
    <button class="btn btn-info-outline">Consultar Novamente</button>
</clr-stack-content>


<!-- </div> -->