<div class="row">
    <div class="col-md-6">
        <table class="table table-compact table-vertical make-marg">
            <tbody>
                <tr>
                    <th colspan="2">Informações de Cadastro</th>
                </tr>
                <tr>
                    <th>Instância: </th>
                    <td>{{cadastro.instancia}}</td>
                </tr>
                <tr>
                    <th>Designador: </th>
                    <td>{{cadastro.designador}}</td>
                </tr>
                <tr>
                    <th>Designador de Acesso: </th>
                    <td>{{cadastro.designadorAcesso}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-compact table-vertical make-marg">
            <tbody>
                <tr>
                    <th colspan="2">Informações de Serviço</th>
                </tr>
                <tr>
                    <th>Velocidade contratada:</th>
                    <td>{{cadastro.servicos.velDown}} / {{cadastro.servicos.velUp}}</td>
                </tr>
                <tr>
                    <th>Tipo da Linha:</th>
                    <td>{{cadastro.servicos.tipoLinha}}</td>
                </tr>
                <tr>
                    <th>Tipo da TV:</th>
                    <td>{{cadastro.servicos.tipoTv}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>