<div>
    <button type="button" class="btn btn-icon btn-primary" (click)="modalInfoDm = true;">
        <clr-icon shape="cog"></clr-icon>
    </button>
</div>

<clr-modal [(clrModalOpen)]="modalInfoDm">
    <h3 class="modal-title">Informações DM</h3>
    <div class="modal-body">
        <textarea class="margin-center" rows="15"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalInfoDm = false;">Fechar</button>
        <button type="button" class="btn btn-primary">Concluir</button>
    </div>
</clr-modal>