<clr-modal [(clrModalOpen)]="holderService.modalLogError" [clrModalSize]="'lg'">
    <h3 class="modal-title">Log de ações.</h3>
    <div class="modal-body">
        <clr-datagrid>
            <clr-dg-placeholder>Nenhum log registrado</clr-dg-placeholder>

            <clr-dg-column>Mensagem</clr-dg-column>
            <clr-dg-column>Tipo</clr-dg-column>
            <clr-dg-column>Quando</clr-dg-column>

            <clr-dg-row *clrDgItems="let msgs of holderService.oldToastyMessages">
                <clr-dg-cell>{{msgs.msg}}</clr-dg-cell>
                <clr-dg-cell>{{msgs.type}}</clr-dg-cell>
                <clr-dg-cell>{{msgs.time | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} logs
                <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="holderService.modalLogError = false">Fechar</button>
    </div>
</clr-modal>