<!-- Colocar em componente com alert especifico... -->
<div *ngIf="analitico">
    <table class="table table-compact table-vertical marginspace">
        <tbody>
            <tr>
                <th colspan="2" style="text-align: center;">Validações Manobra</th>
            </tr>
            <tr *ngFor="let value of analitico.analises">
                <th>{{value.motivo.motivo}}</th>
                <th>{{value.conclusao.frase}}</th>
            </tr>
        </tbody>
    </table>
    <alert-component [msg]="msg" [ativo]="alertAtivo" [closeable]="false"></alert-component>
</div>