<div>
    <div class="row">
        <div class="col-md-6" *ngIf="vlanBanda">
            <table class="table table-compact table-vertical">
                <tbody>
                    <tr>
                        <th colspan="2">{{vlanBanda.nome}}</th>
                    </tr>
                    <tr>
                        <th>Mensagem:</th>
                        <td>{{vlanBanda.mensagem}}</td>
                    </tr>
                    <tr>
                        <th>Resultado:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanBanda.resultado"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="!vlanBanda.resultado"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanBanda.result.state === 'UP'"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="vlanBanda.result.state === 'DOWN'"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>CVLAN:</th>
                        <td>{{vlanBanda.result.cvlan}}</td>
                    </tr>
                    <tr>
                        <th>SVLAN:</th>
                        <td>{{vlanBanda.result.svlan}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary btn-sm btn-block" [disabled]="btnSetVlanBandaDisable" (click)="setVlanBanda()">{{btnSetVlanBandaName}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" *ngIf="vlanVoip">
            <table class="table table-compact table-vertical">
                <tbody>
                    <tr>
                        <th colspan="2">{{vlanVoip.nome}}</th>
                    </tr>
                    <tr>
                        <th>Mensagem:</th>
                        <td>{{vlanVoip.mensagem}}</td>
                    </tr>
                    <tr>
                        <th>Resultado:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanVoip.resultado"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="!vlanVoip.resultado"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanVoip.result.state === 'UP'"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="vlanVoip.result.state === 'DOWN'"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>CVLAN:</th>
                        <td>{{vlanVoip.result.cvlan}}</td>
                    </tr>
                    <tr>
                        <th>SVLAN:</th>
                        <td>{{vlanVoip.result.svlan}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary btn-sm btn-block" [disabled]="btnSetVlanVoipDisable" (click)="setVlanVoip()">{{btnSetVlanVoipName}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngIf="vlanVod">
            <table class="table table-compact table-vertical" *ngIf="validSeExiste(vlanVod.mensagem)">
                <tbody>
                    <tr>
                        <th colspan="2">{{vlanVod.nome}}</th>
                    </tr>
                    <tr>
                        <th>Mensagem:</th>
                        <td>{{vlanVod.mensagem}}</td>
                    </tr>
                    <tr>
                        <th>Resultado:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanVod.resultado"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="!vlanVod.resultado"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanVod.result.state === 'UP'"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="vlanVod.result.state === 'DOWN'"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>CVLAN:</th>
                        <td>{{vlanVod.result.cvlan}}</td>
                    </tr>
                    <tr>
                        <th>SVLAN:</th>
                        <td>{{vlanVod.result.svlan}}</td>
                    </tr>
                    <tr *ngIf="vlanVod.result.pctDown && vlanVod.result.pctUp">
                        <th>Pacotes Down/Up:</th>
                        <td>{{vlanVod.result.pctDown}} / {{vlanVod.result.pctUp}} </td>
                    </tr>
                    <tr *ngIf="vlanVod.mensagem != 'Cliente sem TV Híbrida.'">
                        <td colspan="2">
                            <button class="btn btn-primary btn-sm btn-block" [disabled]="btnSetVlanVodDisable" (click)="setVlanVod()">{{btnSetVlanVodName}}</button>
                            <button class="btn btn-primary btn-sm btn-block" *ngIf="vlanVod.result.pctDown && vlanVod.result.pctUp" [disabled]="btnResetVlanMultiEVodDisable"
                                (click)="resetIptvStatistics()">{{btnResetVlanMultiEVodName}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" *ngIf="vlanMulticast">
            <table class="table table-compact table-vertical" *ngIf="validSeExiste(vlanMulticast.mensagem)">
                <tbody>
                    <tr>
                        <th colspan="2">{{vlanMulticast.nome}}</th>
                    </tr>
                    <tr>
                        <th>Mensagem:</th>
                        <td>{{vlanMulticast.mensagem}}</td>
                    </tr>
                    <tr>
                        <th>Resultado:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanMulticast.resultado"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="!vlanMulticast.resultado"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td>
                            <clr-icon style="color: green" shape="check" *ngIf="vlanMulticast.result.state === 'UP'"></clr-icon>
                            <clr-icon style="color: red" shape="times" *ngIf="vlanMulticast.result.state === 'DOWN'"></clr-icon>
                        </td>
                    </tr>
                    <tr>
                        <th>CVLAN:</th>
                        <td>{{vlanMulticast.result.cvlan}}</td>
                    </tr>
                    <tr>
                        <th>SVLAN:</th>
                        <td>{{vlanMulticast.result.svlan}}</td>
                    </tr>
                    <tr *ngIf="vlanMulticast.result.pctDown && vlanMulticast.result.pctUp">
                        <th>Pacotes Down/Up:</th>
                        <td>{{vlanMulticast.result.pctDown}} / {{vlanMulticast.result.pctUp}} </td>
                    </tr>
                    <tr *ngIf="vlanMulticast.result.ipIgmp">
                        <th>Ip Multicast:</th>
                        <td>{{vlanMulticast.result.ipIgmp}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary btn-sm btn-block" [disabled]="btnSetVlanMulticastDisable" (click)="setVlanMulticast()">{{btnSetVlanMulticastName}}</button>
                            <button class="btn btn-primary btn-sm btn-block" *ngIf="vlanMulticast.result.pctDown && vlanMulticast.result.pctUp" [disabled]="btnResetVlanMultiEVodDisable"
                                (click)="resetIptvStatistics()">{{btnResetVlanMultiEVodName}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>