<div class="row" *ngIf="vlan">
    <div class="col-xs-1"></div>
    <div class="col-xs-9">
        <table class="table table-compact">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center;">{{vlan.nome}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Estado</td>
                    <td>{{vlan.mensagem}}
                        <clr-icon class="is-success" shape="check" *ngIf="vlan.resultado"></clr-icon>
                        <clr-icon class="is-error" shape="times" *ngIf="!vlan.resultado"></clr-icon>
                    </td>
                </tr>
                <tr *ngIf="vlan.result.svlan">
                    <td>Vlan Usuário (cVlan)</td>
                    <td>
                        {{vlan.result.cvlan}}
                    </td>
                </tr>
                <tr *ngIf="vlan.result.svlan">
                    <td>Vlan Rede (sVlan)</td>
                    <td>
                        {{vlan.result.svlan}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-2"></div>
    <div class="row"></div>
</div>