<div class="main-container">
    <header class="header header-4">
        <div class="branding">
            <a class="nav-link" href="/fulltest">
                <clr-icon shape="home" class="is-success"></clr-icon>
                <span class="title">Fulltest</span>
            </a>
        </div>
        <div class="search">
            <label for="search_input" for="search_input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-lg tooltip-bottom-right">                
                <input id="search_input" name="instancia" type="text" placeholder="Buscar cadastro..." [(ngModel)]="instancia" (keyup.enter)="createCadastroComponent()">
                <span class="tooltip-content">Após inserir a instância pressione "Enter"</span>
            </label>
        </div>
        <div class="header-actions">
            <clr-dropdown clrMenuPosition="bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
                <clr-dropdown-menu>
                    <a clrDropdownItem (click)="sair()">Sair</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <dynamic-component [componentData]="componentData"></dynamic-component>
        </div>
    </div>
</div>