<clr-modal [(clrModalOpen)]="holderService.modalAdm" [clrModalSize]="'xl'">
    <h3 class="modal-title">Administração</h3>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <!-- Colocar outra coisa aqui ira mostrar do lado direito -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="holderService.modalAdm = false;">Fechar</button>
    </div>
</clr-modal>