<clr-modal [(clrModalOpen)]="holderService.modalAdm" [clrModalSize]="'xl'">
    <h3 class="modal-title">Administração</h3>
    <div class="modal-body">
        <h4 style="text-align: center;">Lembre-se estamos monitorando tudo...</h4>
        <div *ngIf="infosNC">
            <div class="row">
                <div class="col-md-6">
                    <h5>Login Central</h5>
                    <label>Selecione um login: </label>
                    <div class="select">
                        <select [(ngModel)]="infosNC.credencial">
                            <option selected disabled>Selecione</option>
                            <option value="{{login}}" *ngFor="let login of listLogin">{{login}}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-block btn-sm">Executar</button>
                </div>
                <div class="col-md-6">
                    <h5>Informações das Singletons</h5>
                    <table class="table table-compact table-vertical">
                        <tr>
                            <th>Credencial</th>
                            <td>{{infosNC.credencial}}</td>
                        </tr>
                        <tr>
                            <th>Quantidade True</th>
                            <td>{{infosNC.quantiadeTrue}}</td>
                        </tr>
                        <tr>
                            <th>Quantidade False</th>
                            <td>{{infosNC.quantidadeFalse}}</td>
                        </tr>
                    </table>
                    <button class="btn btn-primary btn-sm btn-block" (click)="getSingleton()" [disabled]="btnDisableSearchInfoNortel">{{btnNameSearchInfoNortel}}</button>
                    <button class="btn btn-primary btn-sm btn-block" (click)="setSingleton()" [disabled]="btnDisableSearchSetInfoNortel">{{btnNameSearchSetInfoNortel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="holderService.modalAdm = false;">Fechar</button>
    </div>
</clr-modal>