<div *ngIf="holderService.cadastro && !searching" class="row">
    <!-- <acs-component [equipamentos]="holderService.equipamentos"></acs-component> -->
    <clr-stack-view class="col-xs-6">

        <clr-stack-header>Informações do Cliente</clr-stack-header>
        <ng-container *ngFor="let entry of holderService.cadastro | objkeys" ngProjectAs="clr-stack-block">
            <ng-container *ngIf="hasStackBlockAtAll(entry)" ngProjectAs="clr-stack-block">
                <generic-stack-block *ngIf="hasStackBlockDetail(entry)" [obj]="entry" ngProjectAs="clr-stack-block"></generic-stack-block>
                <clr-stack-block *ngIf="!hasStackBlockDetail(entry)">
                    <clr-stack-label>{{entry.key | beautifying}}</clr-stack-label>
                    <clr-stack-content>{{entry.value | beautifying}}</clr-stack-content>
                </clr-stack-block>
            </ng-container>
        </ng-container>
    </clr-stack-view>

    <acs-component [equipamentos]="holderService.equipamentos" class="col-xs-6"></acs-component>

    <cadastro-wizard-component [cadastro]="holderService.cadastro" *ngIf="holderService.showWizardComponent"></cadastro-wizard-component>
    <infos-dm-component *ngIf="holderService.cadastro.rede.planta === 'VIVO1'"></infos-dm-component>
</div>
<loading-component [searching]="searching" [searchWhat]="'Buscando Cadastro...'"></loading-component>