<div>
    <!--Informações do cadastro-->
    <div *ngIf="cadastro">
        <h3 class="titulo-da-pagina">Informações do Cadastro</h3>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-compact table-vertical" *ngIf="cadastro.linha.tipo">
                    <tbody>
                        <tr>
                            <th colspan="2">Informações de Linha</th>
                        </tr>
                        <tr>
                            <th>DN: </th>
                            <td>{{cadastro.linha.dn}}</td>
                        </tr>
                        <tr>
                            <th>Tipo: </th>
                            <td>{{cadastro.linha.tipo}}</td>
                        </tr>
                        <tr>
                            <th>Central: </th>
                            <td>{{cadastro.linha.central}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-compact table-vertical">
                    <tbody>
                        <tr>
                            <th colspan="2">Informações de Cadastro</th>
                        </tr>
                        <tr>
                            <th>Instância: </th>
                            <td>{{cadastro.instancia}}</td>
                        </tr>
                        <tr>
                            <th>Designador: </th>
                            <td>{{cadastro.designador}}</td>
                        </tr>
                        <tr>
                            <th>Designador de Acesso: </th>
                            <td>{{cadastro.designadorAcesso}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-compact table-vertical">
                    <tbody>
                        <tr>
                            <th colspan="2">Informações de Serviço</th>
                        </tr>
                        <tr>
                            <th>Velocidade de Download:</th>
                            <td>{{cadastro.servicos.velDown}}</td>
                        </tr>
                        <tr>
                            <th>Velocidade de Upload:</th>
                            <td>{{cadastro.servicos.velUp}}</td>
                        </tr>
                        <tr>
                            <th>Tipo da Linha:</th>
                            <td>{{cadastro.servicos.tipoLinha}}</td>
                        </tr>
                        <tr>
                            <th>Tipo da TV:</th>
                            <td>{{cadastro.servicos.tipoTv}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <loading-component [searching]="searchingRede" [searchWhat]="'Buscando Rede'"></loading-component>
                <table class="table table-compact table-vertical" *ngIf="!searchingRede">
                    <tbody>
                        <tr>
                            <th colspan="2">Informações de Rede</th>
                        </tr>
                        <tr>
                            <th>Ip DSLAM:</th>
                            <td>{{cadastro.rede.ipDslam}}</td>
                        </tr>
                        <tr>
                            <th>Vendor DSLAM:</th>
                            <td>{{cadastro.rede.vendorDslam}}</td>
                        </tr>
                        <tr>
                            <th>Modelo DSLAM:</th>
                            <td>{{cadastro.rede.modeloDslam}}</td>
                        </tr>
                        <tr>
                            <th>Slot:</th>
                            <td>{{cadastro.rede.slot}}</td>
                        </tr>
                        <tr>
                            <th>Porta:</th>
                            <td>{{cadastro.rede.porta}}</td>
                        </tr>
                        <tr>
                            <th>Endereço Sequencial da Porta:</th>
                            <td>{{cadastro.rede.sequencial}}</td>
                        </tr>
                        <tr *ngIf="cadastro.rede.tipo === 'GPON'">
                            <th>Porta Lógica:</th>
                            <td>{{cadastro.rede.logica}}</td>
                        </tr>
                        <tr>
                            <th>RIN:</th>
                            <td>{{cadastro.rede.rin}}</td>
                        </tr>
                        <tr>
                            <th>Vlan VoIP:</th>
                            <td>{{cadastro.rede.vlanVoip}}</td>
                        </tr>
                        <tr>
                            <th>Vlan VoD:</th>
                            <td>{{cadastro.rede.vlanVod}}</td>
                        </tr>
                        <tr>
                            <th>Vlan Multicast:</th>
                            <td>{{cadastro.rede.vlanMulticast}}</td>
                        </tr>
                    </tbody>
                </table>
                <clr-alert [clrAlertType]="alertDOneType" *ngIf="alertDOneAtivo" [clrAlertClosable]="false">
                    <div class="alert-item">
                        <span class="alert-text">
                            {{alertDOneMsg}}
                        </span>
                    </div>
                </clr-alert>
            </div>
        </div>
        <cadastro-wizard-component [cadastro]="cadastro"></cadastro-wizard-component>
    </div>
    <loading-component [searching]="searching" [searchWhat]="'Buscando Cadastro...'"></loading-component>
</div>