<div *ngIf="variavelHolderService.cadastro">
    <h3 class="titulo-da-pagina">Configurações de Porta - {{variavelHolderService.cadastro.rede.tipo}}</h3>
    <loading-component [searching]="isLoading" [searchWhat]="'Buscando Informações de Porta...'"></loading-component>
    <div *ngIf="!isLoading && confPorta">
        <configuracao-porta-metalico-component [confPorta]="confPorta" *ngIf="variavelHolderService.cadastro.rede.tipo === 'METALICA'"></configuracao-porta-metalico-component>
        <configuracao-porta-gpon-component [confPorta]="confPorta" *ngIf="variavelHolderService.cadastro.rede.tipo === 'GPON'"></configuracao-porta-gpon-component>
    </div>
    <button class="btn btn-primary btn-block" *ngIf="!isLoading" (click)="doGetConfigPorta(true)">Buscar Configurações de Porta</button>
</div>