<div>
    <table class="table table-compact table-vertical">
        <tbody>
            <tr>
                <th colspan="2">{{parametros.nome}}</th>
            </tr>
            <tr>
                <th>Mensagem:</th>
                <td>{{parametros.mensagem}}</td>
            </tr>
            <tr>
                <th>Resultado:</th>
                <td>
                    <clr-icon style="color: green" shape="check" *ngIf="parametros.resultado"></clr-icon>
                    <clr-icon style="color: red" shape="times" *ngIf="!parametros.resultado"></clr-icon>
                </td>
            </tr>
            <tr>
                <th>Potência ONT:</th>
                <td>{{parametros.result.potOnt}}</td>
            </tr>
            <tr>
                <th>Potência OLT:</th>
                <td>{{parametros.result.potOlt}}</td>
            </tr>
        </tbody>
    </table>
</div>