<div>
    <clr-wizard #wizardmodal [(clrWizardOpen)]="systemHolderService.modalWizardCadastroIsOpen" clrWizardSize="lg" [clrWizardClosable]="false">
        <clr-wizard-title>Informações de cadastro</clr-wizard-title>

        <clr-wizard-button [type]="'previous'">Voltar</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Proximo</clr-wizard-button>
        <clr-wizard-button [type]="'finish'">Concluido</clr-wizard-button>

        <clr-wizard-page #paginarede>
            <ng-template clrPageTitle>Informações de Rede</ng-template>
            <form #formpagetwo="ngForm" class="compact">
                <section class="form-block">
                    <div class="form-group">
                        <label>Ip DSLAM:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.ipDslam" name="ipDslam" placeholder="Insira o ipDslam"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Vendor DSLAM:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.vendorDslam" name="vendorDslam" placeholder="Insira o Vendor DSLAM"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Modelo DSLAM:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.modeloDslam" name="modeloDslam" placeholder="Insira o Modelo DSLAM"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Slot:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.slot" name="slot" placeholder="Insira o Slot"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Porta:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.porta" name="porta" placeholder="Insira a Porta"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Endereço Sequencial da Porta:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.sequencial" name="sequencial" placeholder="Insira o Endereço Sequencial da Porta"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group" *ngIf="variavelHolderService.cadastro.rede.tipo === 'GPON'">
                        <label>Porta Lógica:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.logica" name="logica" placeholder="Insira a Porta Lógica"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>RIN:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.rin" name="rin" placeholder="Insira o RIN" />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Vlan VoIP:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.vlanVoip" name="vlanVoip" placeholder="Vlan VoIP"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Vlan VoD:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.vlanVod" name="vlanVod" placeholder="Insira o Vlan VoD"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Vlan Multicast:</label>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                            <input type="text" required [(ngModel)]="variavelHolderService.cadastro.rede.vlanMulticast" name="vlanMulticast" placeholder="Insira o Vlan Multicast"
                            />
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                </section>
            </form>
            <div>
                <!-- *ngIf="variavelHolderService.cadastro.rede.planta === 'VIVO1'" -->
                <button type="button" class="btn btn-icon btn-primary" (click)="abrirModal()" *ngIf="variavelHolderService.cadastro.rede.planta != 'VIVO2'">
                    Inserir cadastro DM
                </button>
            </div>
        </clr-wizard-page>

        <clr-wizard-page #paginaservico (clrWizardPageOnCommit)="onCommit()">
            <ng-template clrPageTitle>Informações de Serviço</ng-template>
            <form #formpagethree="ngForm" class="compact">
                <section class="form-block">
                    <div class="form-group">
                        <label>Velocidade de Download:</label>
                        <div class="select">
                            <select [(ngModel)]="variavelHolderService.cadastro.servicos.velDown" name="velDown" #name="ngModel">
                                <option *ngFor="let velocidade of listEnumVelocidades" [ngValue]="velocidade">{{velocidade}}</option>
                            </select>
                        </div>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [ngClass]="variavelHolderService.cadastro.servicos.velDown ? '': 'invalid'">
                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Velocidade de Upload:</label>
                        <div class="select">
                            <select [(ngModel)]="variavelHolderService.cadastro.servicos.velUp" name="velUp" #name="ngModel">
                                <option *ngFor="let velocidade of listEnumVelocidades" [ngValue]="velocidade">{{velocidade}}</option>
                            </select>
                        </div>
                        <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left" [ngClass]="variavelHolderService.cadastro.servicos.velUp ? '': 'invalid'">

                            <span class="tooltip-content">Este campo precisa ser preenchido</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Tipo TV: </label>
                        <div class="select">
                            <select [(ngModel)]="variavelHolderService.cadastro.servicos.tipoTv" name="tipotv">
                                <option [ngValue]="SemTV">Sem TV</option>
                                <option *ngFor="let tv of listEnumTv" [ngValue]="tv">{{tv}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo Linha: </label>
                        <div class="select">
                            <select [(ngModel)]="variavelHolderService.cadastro.servicos.tipoLinha" name="tipolinha">
                                <option *ngFor="let linha of listEnumVoz" [ngValue]="linha">{{linha}}</option>
                            </select>
                        </div>
                    </div>
                </section>
            </form>
            <alert-component [mensagem]="msg" [ativo]="alertMsg"></alert-component>
        </clr-wizard-page>
    </clr-wizard>
</div>