<div>
    <table class="table table-compact">
        <tbody>
            <tr>
                <th>Tipo - Número Evento</th>
                <th>Tipo Afetacão</th>
                <th>Tipo Falha</th>
                <th>Tipo Alarme</th>
                <th>Data Abertura</th>
                <th>Data Prevista</th>
            </tr>
            <tr *ngFor="let evento of eventos">
                <td>
                    {{evento.tipoEvento}} - {{evento.numeroEvento}}
                </td>
                <td>
                    {{evento.tipoAfetacao}}
                </td>
                <td>
                    {{evento.tipoFalha}}
                </td>
                <td>
                    {{evento.tipoAlarme}}
                </td>
                <td>
                    {{((evento.dataAbertura/1000) | amFromUnix) | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}
                </td>
                <td [ngStyle]="{'color':isVencido(evento.dataPrevista)}">
                    {{((evento.dataPrevista/1000) | amFromUnix) | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>