<div>
    <table class="table table-vertical table-compact" *ngIf="equipamentos">
        <tbody>
            <tr>
                <th colspan="5" style="text-align: center;">Equipamentos Associados ao Designador ACS - Motive</th>
            </tr>
            <tr>
                <!-- <th>Subscriber</th> -->
                <th>Serial</th>
                <th>IP</th>
                <th>MAC</th>
                <th>Fábricante</th>
                <th>Ação</th>
            </tr>
            <tr *ngFor="let eqp of equipamentos">
                <!-- <td>{{eqp.subscriberID}}</td> -->
                <td>{{eqp.deviceId.serialNumber}}</td>
                <td>{{eqp.IPAddress}}</td>
                <td>{{eqp.macAddress}}</td>
                <td>{{eqp.manufacturer}}</td>
                <td style="text-align: center;">
                    <button type="button" class="btn btn-icon btn-sm" (click)="abreAbaSearchDeviceInfo(eqp.deviceGUID)">
                        <clr-icon shape="search"></clr-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <loading-component [searching]="searching" [searchWhat]="'Buscando Equipamentos ACS - Motive...'"></loading-component>
</div>