<clr-stack-view *ngIf="holderService.equipamentos">
    <clr-stack-header>Informações ACS Motive
        <button class="stack-action btn btn-sm btn-link" (click)="getEquipamentoAssoc()" type="button">
            <clr-icon shape="refresh"></clr-icon>
            Atualizar
        </button>
    </clr-stack-header>
    <clr-stack-block *ngFor="let eqp of holderService.equipamentos">
        <clr-stack-label>{{eqp.manufacturer | capitalize}} - {{eqp.deviceId.serialNumber | uppercase}}</clr-stack-label>
        <clr-stack-content>
            Ativo desde:
            <b>{{eqp.firstContactTime | date:'dd/MM/yyyy HH:mm'}}</b>
        </clr-stack-content>
        <clr-stack-block>
            <clr-stack-label>
                <button type="button" class="btn btn-icon btn-sm btn-link" (click)="abreAbaSearchDeviceInfo(eqp.deviceGUID)">
                    Visualizar na ACS
                    <clr-icon shape="search"></clr-icon>
                </button>
            </clr-stack-label>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>
<div *ngIf="!holderService.equipamentos">
    <div class="row">
        <div class="col-xs-9">
            <h4>Informações ACS Motive</h4>
        </div>
        <div class="col-xs-3">
            <button class="stack-action btn btn-sm btn-link btn-align" (click)="getEquipamentoAssoc()" type="button">
                <clr-icon shape="refresh"></clr-icon>
                Atualizar
            </button>
        </div>
    </div>
</div>
<alert-component [msg]="msg" [ativo]="alertAtivo" [closeable]="false"></alert-component>
<loading-component [searching]="searching" [searchWhat]="'Buscando Equipamentos ACS - Motive...'"></loading-component>