<div *ngIf="modulacao">
    <table class="table table-compact">
        <thead>
            <tr>
                <th colspan="2" style="text-align: center;">Modulação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Estado</td>
                <td>{{modulacao.mensagem}}
                    <clr-icon class="is-success" shape="check" *ngIf="modulacao.resultado"></clr-icon>
                    <clr-icon class="is-error" shape="times" *ngIf="!modulacao.resultado"></clr-icon>
                </td>
            </tr>
            <tr>
                <td>Configurada</td>
                <td>
                    {{modulacao.result.modulEnum}}
                </td>
            </tr>
        </tbody>
    </table>
</div>