<div>
    <alert-component [msg]="alertMsg" [ativo]="alertAtivo" [closeable]="alertCloseable"></alert-component>
    <h4>Reset de porta</h4>
    <button class="btn btn-primary" (click)="modalActive = true" [disabled]="btnResetActive" [clrLoading]="btnLoading">Realizar Reset de porta</button>
    <!-- <clr-icon shape="success" class="is-success"></clr-icon>
    <clr-icon shape="close" class="is-error"></clr-icon> -->

    <clr-modal [(clrModalOpen)]="modalActive">
        <h3 class="modal-title">Reset de modem</h3>
        <div class="modal-body">
            <p>Deseja realmente <b style="color: #0065AB;">resetar</b> o modem?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalActive = false">Voltar</button>
            <button type="button" class="btn btn-primary" (click)="reset()">Resetar</button>
        </div>
    </clr-modal>
</div>