<div>
    <label>Comando: </label>
    <div class="select">
        <select>
            <option selected disabled>Selecione</option>
            <option value="ativar">Ativar</option>
            <option value="desativar">Desativar</option>
        </select>
    </div>

    <label>Serviços: </label>
    <div class="select">
        <select>
            <option selected disabled>Selecione</option>
            <option value="servico1">servico1</option>
            <option value="servico2">servico2</option>
            <option value="servico3">servico3</option>
            <option value="servico4">servico4</option>
        </select>
    </div>

    <button class="btn btn-primary btn-block">Executar</button>
</div>